body {
  background-image: url("../images/Designer\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .parent {
  position: relative;
  vertical-align: top;
  flex-grow: 2;
  max-height: fit-content;
} */


.parent {
  position: relative;
  vertical-align: top;
  flex-grow: 2;
  /* height: 75vw; */
  max-height: fit-content;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-scroll {
  vertical-align: 100%;
  max-width: 90%;
  height: auto;
}

.story-scroll {
  vertical-align: top;
  max-width: 80vw;
  height: 60vw;
  max-height: 50vw;
}

.parent h1 {
  text-align: center;
  font-size: 8vw;
  color: black;
}

p {
  font-size: 2vw;
  color: black;
  text-align: center;
  height: 50vw;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: teal;
  border-color: lightseagreen;
}

label {
  font-size: 5vw;
  color: rgb(7, 7, 7);
  text-align: center;
}

input {
  font-size: 3vw;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  border-color: lightseagreen;
}

form {
  background-color: rgb(245, 245, 220, 0.3);
  border-radius: 4px;
}

.container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Change the height to 100vh */
  max-height: 100%;
  flex-direction: column;
}

.room-container{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.room-scroll-parent {
  align-self: flex-start;
  justify-content: center;
  max-width: 120vh;
  max-height: 40vh;
  position: relative;
  color: black;
  
}

.room-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
}

.room-button-container{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

