body {
  background-image: url("../images/Designer\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parent {
  position: relative;
  top: 0vw
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-scroll {
  vertical-align: 100%;
  max-width: 90%;
  height: auto;
}

.story-scroll {
  vertical-align: 100%;
  max-width: 80vw;
  height: 60vw;
}

h1{
  text-align: center;
  font-size: 8vw;
  color: black;
}

p {
  font-size: 2vw;
  color: black;
}

button {
  font-size: 3vw;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: teal;
  border-color: lightseagreen;
}
